<div id="shipping-country-form">
    <div class="msg success"></div>
    <div class="msg-error error"></div>
    <form action="#" method="POST">
        <label for="name">name:</label><input type="text" name="name" id="name">
        <label for="imported">imported:</label><input type="text" name="imported" id="imported">
        
        <div class="buttons">
            <button type="submit" class="salvar">Salvar</button>
            <button type="reset" class="limpar">Limpar</button>
        </div>  
    </form>

</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">
