<!-- CREATE PAGE FOR SHIPPING COUNTRY -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shipping Country</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<!--  HEADER -->
<header>
    <div id="logo"> 
        <a href="/">
            <h2>Olist</h2>
        </a>
    </div>
    <div id='menu'>
        <ul>
            <li><a href="product.html">Produtos</a></li>
            <li><a href="product_brand.html">Marca</a></li>
            <li><a href="product_category.html">Categoria</a></li>
            <li><a href="product_condition.html">Condição</a></li>
            <li><a href="../product-raiting/index.html">Classificação</a></li>
            <li><a href="index.html">Origem</a></li>
        </ul>
    </div>

</header>
<!--  FIM HEADER -->

<div id="conteudo">
    <h3>New Shipping Country</h3>
    <form action="index.html" method="POST">
        <label for="id">id:</label><input type="text" name="id" id="id">
        <label for="name">name:</label><input type="text" name="name" id="name">
        <label for="imported">imported:</label><input type="text" name="imported" id="imported">
        
        <div class="buttons">
            <button type="submit" class="salvar">Salvar</button>
            <button type="reset" class="limpar">Limpar</button>
        </div>  
    </form>

    <div class="btn-listagem">
        <a href="index.html">Voltar para listagem</a>
    </div>
</div>
</html>