<div id="shipping-country-form">
    <h3>New Shipping Country</h3>
    <form action="index.html" method="POST">
        <label for="id">id:</label><input type="text" name="id" id="id">
        <label for="name">name:</label><input type="text" name="name" id="name">
        <label for="imported">imported:</label><input type="text" name="imported" id="imported">
        
        <div class="buttons">
            <button type="submit" class="salvar">Save</button>
            <button type="reset" class="limpar">Clean</button>
        </div>  
    </form>

    <div class="btn-listagem">
        <a href="index.html">Back to list</a>
    </div>
</div>