<!-- Shipping Country first page -->
<div id="shipping-country-index">
    <div id="content">
        <h3>Origem</h3>
        
        <div class="msg success"></div>
        <div class="msg error error"></div>

        <div id="new">
            <a class="btn-new" href="shipping-country/form.html">Novo</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>imported</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>produto</td>
                    <td>True</td>
                    <td>
                        <a class='btn-edit' href="shipping-country/form.html?id=1">Edit</a>
                        <a class="btn-delete" href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="../js/crud.js"></script>