<!-- Shipping Country first page -->
<div id="shipping-country-index">

        <h3>Origem</h3>
        
        <div class="msg success"></div>
        <div class="msg error error"></div>

        <div id="new">
            <a class="btn-new" href="shipping-country/form.html">Novo</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>imported</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
</div>
<div id="form">

</div>

<script src="../js/shipping_country.js"></script>
<script src="../js/crud.js"></script>