<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Olist</title>

    <header>
        <div id='logo'>
            <h2>Olist</h2>
        </div>
        <div id="menu">
            <ul>
                <li><a href="product.html">Produtos</a></li>
                <li><a href="product_brand.html">Marca</a></li>
                <li><a href="product_category.html">Categoria</a></li>
                <li><a href="product_condition.html">Condição</a></li>
                <li><a href="product_hating.html">Classificação</a></li>
                <li><a href="product_shipping_country.html">Origem</a></li>
            </ul>
        </div>
    </header>

</head>
<body>
    
</body>
</html>