<link rel="stylesheet" href="../css/_utils/header.css">

    <div id='logo'>
        <h2>Olist</h2>
    </div>
    <div id="menu">
        <ul>
            <li><a class='btn-menu' href="product/index.html">Produtos</a></li>
            <li><a class='btn-menu' href="product-brand/index.html">Marca</a></li>
            <li><a class='btn-menu' href="product-rating/index.html">Classificação</a></li>
            <li><a class='btn-menu' href="shipping-country/index.html">Origem</a></li>
            <li><a class='btn-menu' href="product-category/index.html">Categoria</a></li>
            <li><a class='btn-menu' href="product-condition/index.html">Condição</a></li>
        </ul>
    </div>
<script src="../js/header.js"></script>