<div id="product-form">
    <h3>Produto</h3>
    <form action="#" method="POST">
        <label for = "id"> ID: </label><input type="text" name="id" id="id">
        <label for = "name"> Nome: </label><input type="text" name="name" id="name">
        <label for = "description"> Descrição: </label><input type="text" name="description" id="description">
        <label for = "price"> Preço: </label><input type="number" name="price" id="price">
        <div class = "buttons"> 
            <button type = "submit" class = "save"> Salvar </button>
            <button type = "reset" class = "clean"> Limpar </button>
        </div>
    </form>   
    <div class = "btn-listing">
        <a href = "product-index.html" > Voltar a listagem</a>
    </div> 
</div>


