<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Product</title>
</head>
<body>
    <iframe src="../_utils/header.html" frameborder="0">
    </iframe>
    <div id="content">
        <h3>Produto</h3>
        <form action="#" method="POST">
            <label for = "id"> ID: </label><input type="text" name="id" id="id">
            <label for = "name"> Nome: </label><input type="text" name="name" id="name">
            <label for = "description"> Descrição: </label><input type="text" name="description" id="description">
            <label for = "price"> Preço: </label><input type="number" name="price" id="price">
            <div class = "buttons"> 
                <button type = "submit" class = "save"> Salvar </button>
                <button type = "reset" class = "clear"> Limpar </button>
            </div>
        </form>   
        <div class = "btn-listagem">
            <a href = "index.html" > Voltar a listagem</a>
        </div> 
    </div>
</body>
</html> 

