<div id="product-form">
    <div class="msg success"></div>
    <div class="msg-error error"></div>
    <form action="#" method="POST">
        <label for="id"> ID: </label><input type="text" name="id" id="id">
        <label for="name"> Nome: </label><input type="text" name="name" id="name">
        <label for="description"> Descrição: </label><input type="text" name="description" id="description">
        <label for="price"> Preço: </label><input type="number" name="price" id="price">
        <label for="gtin"> Nome: </label><input type="text" name="gtin" id="gtin">
        <label for="brand_id"> Marca Id: </label><input type="text" name="brand_id" id="brand_id">
        <label for="product_condition_id"> Condição do Produto: </label><input type="text" name="product_condition_id" id="product_condition_id">
        <label for="shipping_country_id"> País de Envio: </label><input type="text" name="shipping_country_id" id="shipping_country_id">
        <div class="buttons"> 
            <button type="submit" class="save"> Salvar </button>
            <button type="reset" class="clean"> Limpar </button>
        </div>
    </form>   
</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">
