<div id='product-index'> 
    <h3>Produto</h3>
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <div id="new">
        <a class="btn-new" href="product/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>           
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Gtin</th>
                <th>Marca Id:</th>
                <th>Condição do Produto:</th>
                <th>Origem:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
<div id='form'>

</div>
<script src="../js/product.js"></script>
<script src="../js/crud.js"></script>