<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title> Produto </title>
</head>
<body>
    <header>
        <div id="logo">
            <h2>Olist</h2>
        </div>
        <div id="menu">
            <ul>
                <li><a href="../product/index.html">Produtos</a></li>
                <li><a href="../product-brand/index.html">Marca</a></li>
                <li><a href="../product-category/index.html">Categoria</a></li>
                <li><a href="../product-condition/index.html">Condição</a></li>
                <li><a href="../product-rating/index.html">Classificação</a></li>
                <li><a href="../product-shipping-country/index.html">Origem</a></li>
            </ul>
        </div>
    </header>
    <div id="content">
        <h3>Produto</h3>
        <div id="new">
            <a href="form.html">Novo</a> 
        </div>
        <table>
            <thead>
                <tr>           
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>nome</td>
                    <td>Descrição</td>
                    <td>0</td>
                    <td>
                        <a href="form.html">Editar</a> |
                        <a href="#">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html> 