<div id='product-index'> 
    <h3>Produto</h3>
    <div class="msg success">
        <h6></h6>
    </div>
    <div id="new">
        <a class="btn-new" href="product/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>           
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>nome</td>
                <td>Descrição</td>
                <td>0</td>
                <td>
                    <a class='btn-edit' href="product/form.html">Editar</a> |
                    <a class='btn-delete' href="#">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="../js/crud.js"></script>