<div id="product-condition-form">
    <h3>Condição</h3>
    <div class="msg success">
        <h6>mensagem</h6>
    </div>
    <form action="#" method="POST">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
        <label for="description">Descricao:</label>
        <textarea type="text" name="description" id="description"></textarea>
        <div class="buttons">
            <button type="submit" class="save">Salvar</button>
            <button type="reset" class="clean">Limpar</button>
        </div>
    </form>
    <div class="btn-listing">
        <a class="btn-list-all" href="product-condition/index.html">Voltar a listagem</a>
    </div>
</div>
<script src="../js/crud.js"></script>
