<div id="product-condition-index">
    <h3>Condição</h3>
    <div class="msg success">
        <h6>mensagem</h6>
    </div>
    <div id="novo">
        <a href="product-condition/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>nome</td>
                <td>descricao</td>
                <td>
                    <a href="product-condition/form.html">Editar</a> |
                    <a href="#">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
