/* Cache Killer plugin chrome */
/* 
    Padrão de cores Olist
    Blue: #0C29D0 
    Green: #0DC78B 
    Purple: #6A00A3 
    Yellow: #EDAD00 
    Red: #E64C2D
 */

 html, body, header, div{
    border: 0 ;
    margin: 0 ;
    padding: 0 ;
}

header{
    background: #0c29d0;
    height: 60px;
    width: 100%;
}
body{
    font-family:Soleil!important;
    background-color: #ccc;
    color:#000;

}
#conteudo{
    background: #fff;
    width: 90%;
    margin: 1.5em auto;
    padding: 1.5em 1em;
    /* border:1px solid #f00; */
}
a{
    color:#0DC78B;
}
h1{
    color:#0DC78B;
}

header #logo{
    display: inline-block;
    vertical-align: top;
    width: 10%;
    padding: 0 2%;
    margin-top: -10px;
    color:#fff;
}
header #logo a{
    color:#fff;
    text-decoration: none;
    text-transform: none;
}
header #menu{
    display: inline-block;
    vertical-align: top;
    width: 80%;
}
header #menu ul
{
    list-style: none;
}
header #menu ul li
{
    display: inline-block;
    font-size: 12px;
    margin: .0em 1em;
}
header #menu ul li a
{
    color:#fff;
    text-decoration: none;
    width: 100%;
    text-transform: capitalize;
}
header #menu ul li :hover{
    background: #fff;
    color:#0c29d0;
}
header #menu ul li :hover a{
    color:#0c29d0;
}
#conteudo h3{
    text-align: center;
    color:#F7BC1C;
}
#conteudo #novo{
    width: 80%;
    margin: auto;
    text-align: right;
    margin-bottom: 1em;
}
#conteudo #novo a{
    background: #1fe6a8;
    color:#fff;
    padding: .275em 1.5em;
    text-decoration: none;
}
#conteudo #novo a:hover{
    background: #fff;
    border: 1px solid #1fe6a8;
    color:#1fe6a8;
    padding: .275em 1.5em;
}
#conteudo table{
    width: 80%;
    margin: auto;
    border: 1px solid #1fe6a8;
    border-collapse: collapse;
}
#conteudo table thead tr{
    background: #1fe6a8;
    color:#fff;
}
#conteudo table thead tr th{
    padding: 0.375em 0.75em;
}

#conteudo table tbody tr td{
    border: #1fe6a8 solid 1px;
    padding: 0.15em 0.75em;
}
#conteudo table tbody tr:hover{
    background: #1fe6a8;
    color:#fff;
    cursor: pointer;
    border:1px solid #fff;
}

/* ******************* Messages ********************* */

.msg {
    width: 50%;
    margin: 1em auto;
    text-align:center;
}
.msg.success{
    color:#0DC78B;
}
.msg.alert{
    color:#EDAD00;
}
.msg.error{
    color:#E64C2D;
}

/* ******************* Form ********************* */

form{
    width: 40%;
    margin: auto;
    border: 1px solid #1fe6a8;
    padding: 1em 2em;
}
form input, form textarea{
    vertical-align: top;
    display: inline-block;
    border: 1px solid #1fe6a8;
    width: 40%;
    font-size: 12px;
}
form label{
    vertical-align: top;
    text-align: right;
    display: inline-block;
    width: 35%;
    padding: 0 .5em;
} 
form .buttons{

    width: 40%;
    margin: 1em auto;
}
form .buttons .salvar, form .buttons .limpar{ 
    padding: .2em 1em;
    border: none;
    cursor: pointer;
    text-transform: lowercase;
}
form .buttons .salvar{
    background: #0c29d0;
    color:#fff;
    border:1px solid  #0c29d0;
}
form .buttons .salvar:hover{
    background: #fff;
    color:#0c29d0;
    border:1px solid  #0c29d0;
}
form .buttons .limpar{ 
    background: #fff;
    border:1px solid  #ffffff;
    color:#F7BC1C;
}
form .buttons .limpar:hover{ 
    background: #F7BC1C;
    color:#fff;
    border:1px solid  #F7BC1C;
}
.btn-listagem{
    width: 45%;
    margin: 1em auto 0;
}
.btn-listagem a{
    color:#6A00A3;
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: none;
}
.btn-listagem a:hover{
    text-decoration: underline;
}