<div id="product-category-form">
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <form action="#" method="POST">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
        <label for="description">Descricao:</label>
        <textarea type="text" name="description" id="description"></textarea>
        <div class="buttons">
            <button type="submit" class="save">Salvar</button>
            <button type="reset" class="clean">Limpar</button>
        </div>
    </form>
</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">
