<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Product Category</title>
</head>
<body>
    <header>
        <div id="logo">
            <h2>Olist</h2>
        </div>
        <div id="menu">
            <ul>
                <li><a href="../product/index.html">Produtos</a></li>
                <li><a href="../product-brand/index.html">Marca</a></li>
                <li><a href="../product-category/index.html">Categoria</a></li>
                <li><a href="../product-condition/index.html">Condição</a></li>
                <li><a href="../product-hating/index.html">Classificação</a></li>
                <li><a href="../product-shipping_country/index.html">Origem</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Categoria</h3>
        <div class="msg success">
            <h6>mensagem</h6>
        </div>
        <form action="#" method="POST">
            <label for="id">ID:</label>
            <input type="text" name="id" id="id">
            <label for="nome">Nome:</label>
            <input type="text" name="preco" id="preco">
            <label for="descricao">Descricao:</label>
            <textarea type="text" name="descricao" id="descricao"></textarea>
            <div class="buttons">
                <button type="submit" class="salvar">Salvar</button>
                <button type="reset" class="limpar">Limpar</button>
            </div>
        </form>
        <div class="btn-listagem">
            <a href="index.html">Voltar a listagem</a>
        </div>
    </div>
</body>
</html>