<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Categorias</title>
</head>
<body>
    <div id="content">
        <h3>Categorias</h3>
        <div class="msg success">
            <h6>mensagem</h6>
        </div>
        <div id="novo">
            <a href="product-category/form.html">Novo</a> 
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>nome</td>
                    <td>descricao</td>
                    <td>
                        <a href="product-category/form.html">Editar</a> |
                        <a href="#">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>