<div id='product-category-index'>
    <h3>Categorias</h3>
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <div id="new">
        <a class="btn-new" href="product-category/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="msg error api"></div>
</div>
<div id='form'>
</div>
<script src="../js/product_category.js"></script>
<script src="../js/crud.js"></script>
