<div id="product-rating-form">
    <h3>New Product Rating</h3>
    <form action="#" method="POST">
        <label for="id">id:</label><input type="text" name="id" id="id">
        <label for="score">score:</label><input type="text" name="score" id="score">
        <label for="status">status:</label><input type="text" name="status" id="status">
        <label for="person_id">person_id:</label><input type="text" name="person_id" id="person_id">
        <label for="product_id">product_id:</label><input type="text" name="product_id" id="person_id">
        
        <div class="buttons">
            <button type="submit" class="salvar">Save</button>
            <button type="reset" class="limpar">Clean</button>
        </div>  
    </form>

    <div class="btn-listing">
        <a class="btn-list-all" href="product-rating/index.html">Back to list</a>
    </div>
</div>
<script src="../js/crud.js"></script>