<div id="product-rating-form">
    <div class="msg sucess"></div>
    <div class="msg-error error"></div>
    <form action="#" method="POST">
        <input type="hidden" name="id" id="id" readonly>
        <label for="score"> Score: </label><input type="text" name="score" id="score">
        <label for="status"> Status: </label><input type="text" name="status" id="status">
        <label for="person_id"> Person_id: </label><input type="text" name="person_id" id="person_id">
        <label for="product_id"> Product_id: </label><input type="text" name="product_id" id="product_id">

        <div class="buttons">
            <button type="submit" class="salvar">Salvar</button>
            <button type="reset" class="limpar">Limpar</button>
        </div>  
    </form>

</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">