<div id="product-rating-form">
    <div class="msg sucess"></div>
    <div class="msg-error error"></div>
    <form action="#" method="POST">
        <label for="id"> ID: </label><input type="text" name="id" id="id">
        <label for="score"> Score: </label><input type="text" name="score" id="score">
        <label for="status"> Status: </label><input type="text" name="status" id="status">

        <div class="buttons">
            <button type="submit" class="salvar">Salvar</button>
            <button type="reset" class="limpar">Limpar</button>
        </div>  
    </form>

</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">