<!-- Product raiting first page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product rating</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<!--  HEADER -->
<header>
    <div id="logo"> 
        <a href="/">
            <h2>Olist</h2>
        </a>
    </div>
    <div id='menu'>
        <ul>
            <li><a href="product.html">Produtos</a></li>
            <li><a href="product_brand.html">Marca</a></li>
            <li><a href="product_category.html">Categoria</a></li>
            <li><a href="product_condition.html">Condição</a></li>
            <li><a href="#">Classificação</a></li>
            <li><a href="../shipping-country/index.html">Origem</a></li>
        </ul>
    </div>

</header>
<!--  FIM HEADER -->

<div id="conteudo">
    <h3>Product raiting</h3>

    <div id="novo">
        <a href="form.html">Novo</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>score</th>
                <th>status</th>
                <th>person_id</th>
                <th>product_id</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>5</td>
                <td>ok</td>
                <td>1</td>
                <td>1</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>