<!-- Product raiting first page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product rating</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<div id="content">
    <h3>Product rating</h3>

    <div id="novo">
        <a href="form.html">New</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>score</th>
                <th>status</th>
                <th>person_id</th>
                <th>product_id</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>5</td>
                <td>ok</td>
                <td>1</td>
                <td>1</td>
                <td>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>