<!-- Product rating first page -->
<div id="product-rating-index">
        <h3>Classificação</h3>
        <div class="msg success"></div>
        <div class="msg error error"></div>
        <div id="new">
            <a class="btn-new" href="product-rating/form.html">Novo</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Score</th>
                    <th>Status</th>
                    <th>Person_id</th>
                    <th>Product_id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="msg error api"></div>
</div>
<div id="form">

</div>


<script src="../js/product_rating.js"></script>
<script src="../js/crud.js"></script>
