<div id="product-brand-form">
    <h3> Marca </h3>
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <form action="#" method="POST">
        <label for="id"> ID: </label><input type="text" name="id" id="id">
        <label for="name"> Nome: </label><input type="text" name="name" id="name">
        <label for="full_name"> Descrição: </label><input type="text" name="description" id="description">
        <div class="buttons"> 
            <button type="submit" class="save"> Salvar </button>
            <button type="reset" class="clean"> Limpar </button>
        </div>
    </form>   
    <div class="btn-listing">
        <a class="btn-list-all" href="product-brand/index.html" > Voltar a listagem</a>
    </div> 
</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">
