<div id="product-brand-form">
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <form action="#" method="POST">
        <input type="hidden" name="id" id="id" readonly>
        <label for="name"> Nome: </label><input type="text" name="name" id="name">
        <label for="full_name"> Nome completo: </label><input type="text" name="full_name" id="full_name">
        <div class="buttons"> 
            <button type="submit" class="save"> Salvar </button>
            <button type="reset" class="clean"> Limpar </button>
        </div>
    </form>   
</div>
<script src="../js/crud.js"></script>
<link rel="stylesheet" href="../css/_utils/form.css">
