<div id='product-brand-index'>
    <h3>Marca</h3>
    <div class="msg success"></div>
    <div class="msg error error"></div>
    <div id="new">
        <a class="btn-new" href="product-brand/form.html">Novo</a> 
    </div>
    <table>
        <thead>
            <tr>           
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="../js/product_brand.js"></script>
<script src="../js/crud.js"></script>