<div id = 'product-brand-index'>
        <h3>Marca</h3>
        <div id="new">
            <a href="form.html">Novo</a> 
        </div>
        <table>
            <thead>
                <tr>           
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>nome</td>
                    <td>Descrição</td>
                    <td>
                        <a href="product-brand/form.html">Editar</a> |
                        <a href="#">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
