</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title> Product Brand </title>
</head>
    <div id="content">
        <h3>Marca</h3>
        <div id="new">
            <a href="form.html">Novo</a> 
        </div>
        <table>
            <thead>
                <tr>           
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>nome</td>
                    <td>Descrição</td>
                    <td>
                        <a href="form.html">Editar</a> |
                        <a href="#">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html> 